body{
    width: 80%;
    margin: 0 auto;
}

#tabla1{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;

}
#tabla2{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;


}

#Change{
    font-size: x-large;
}

#selector{
    font-size: larger;
}

#cambio2{
    font-size: larger;
}

